body {
  min-height: 100vh;
  background-color: aliceblue;
}

.container, .container-fluid {
  padding-top: 10rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.hide {
  display: none;
}

img {
  width: 4rem;
  height: 4rem;
}