body {
  min-height: 100vh;
  background-color: aliceblue;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

#client-form-row {
  background-color: aliceblue;
}

.form-group {
  margin: 0 0 0.5rem 0;
}

#client-form {
  text-align: center;
}

img {
  width: 4rem;
  height: 4rem;
}

p {
  margin: 0;
}

#div-checkbox-card {
  display: flex;
  justify-content: center;
}